.icon {
    background-color: whitesmoke;
    padding: 8px;
    border: 1px solid #F1CD31;
    border-radius: 30%;
    font-size: 45px;
    color: #F1CD31;
}

.active {
    background-color: #F1CD31;
    padding: 8px;
    border-radius: 30%;
    font-size: 45px;
    color: #ffffff;
}