:root {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.App {
  background-color: #ffffff;
  height: 100vh;
  overflow: hidden;
}

.bg-login {
  object-fit: cover; 
  object-position: left;
}

.background {
  background: url("../src/image/image_login.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.opacity {
  background-color: #EFC81A;
  opacity: 0.6;
  height: 100vh;
  z-index: -1;
}

.logo-login {
  position: absolute;
  width: 145px;
  left: 20%;
  top: 40%;
  opacity: 1 !important;
}

.col-sm-6 h4 {
  color: #EFC81A;
  text-align: center;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #e9ab25;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(212, 164, 6, 0.25);
}


.col-sm-6 p {
  color: #8692A6;
  text-align: center;
}

.form-login {
  align-items: center;
}

.btn-login {
  color: #fff;
  background-color: #EFC81A;
  border-color: #EFC81A;
}

.btn-login:hover {
  color: #fff;
  background-color: #c7a510;
  border-color: #c7a510;
}

.px-15 {
  padding: 0 120px 0 120px ;
}

.div-login {
  margin: 25px 0 5px 0;
  color: #F5F5F5;
  padding: 1px;
}

.forgot-text {
  color: #999999;
  text-align: end;
}

.photo-profile-login {
  width: 35px;
  border-radius: 50%;
  margin-right: 8px;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}

.pagination .page-num:hover {
  color: white;
  background-color: #EFC81A;
}

.pagination .active {
  background-color: #EFC81A;
  color: white;
}